appdirs==1.4.4
asgiref==3.8.1
blessed==1.20.0
Django==5.1.2
django-environ==0.11.2
django-filter==24.3
djangorestframework==3.15.2
flyingcircus==0.1.4.1
packaging==24.2
pillow==11.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pytk==0.0.2.1
setuptools==75.5.0
setuptools-scm==8.1.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
